body {Color:green; background-color:#8FBC8F;}
       
Header{	text-shadow:gray 10px 10px 20px; text-align: center;}
a:link{color:orange;}
a:hover{color:red; font-size:30px}
a:active{color:green;}

img {width:50%; border-radius:25%;}
section img:hover {filter: grayscale (50%);}	
marquee img:hover {transform:scale(1.8);}	
aside img:hover{border-radius: 50%; transform: scaleX(-1); box-shadow : 0px 0px 15px 15px #FF6E40}	

nav{font-size: 30px; text-shadow: gray 3px 3px 10px;}  

h1{Color:#548F3A ; font-size:50px; font-family:broadway; text-shadow:gray 10px 10px 20px; text-transform: uppercase; }
   
h2{Color:#548F3A ; font-size:30px; font-family:Impact;}

h3{Color:#548F3A ; font-size:20px;}

p {color:Red; font-size:20px; text-align:center;}

section{width:75%;}

footer{background:Green; color:yellow; font-size:15px;
	   box-shadow: Yellow 5px 5px 10px; text-align: center;}
	   
aside{position:fixed; width:25%; top:25%; Bottom:0; right:0; left:75%;color:#934A14;}
label{color:green; font-family:chiller; font-size:25px;}

	